<div class="col-md-4">
<h1>Projects</h1>
<div class="projects-container">
    <ul class="list-group">
        {{#items}}
        <li class="list-group-item list-edit"><a href="#project/{{id}}/edit">{{title}}</a></li>
        {{/items}}
    </ul>
</div>
</div>
