<div class="btn-group">    
    <a href="" class="btn btn-primary"><i class="fa fa-chevron-left"></i> New project</a>
    <a href="/post/new" class="btn btn-primary"><i class="fa fa-plus"></i></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>           
    </thead>
    <tbody>
        {{#items}}
        <tr>
            <td>{{title}}</td>
            <td><a href="project/{{id}}/edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        {{/items}}               
    </tbody>

</table>
