<a href="" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Blog posts</a>
<a href="/post/new" class="btn btn-primary"><i class="fa fa-plus"></i></a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>           
    </thead>
    <tbody>
        {{#items}}
        <tr>
            <td><a href="post/{{id}}/edit">{{title}}</a></td>
            <td><a class="delete" data-id="{{id}}" data-bypass="true" href="#"><i class="fa fa-trash"></i></a></td>
        </tr>
        {{/items}}               
    </tbody>

</table>

