<IfModule mod_rewrite.c>
    # Remove the trailing slash from routes
    DirectorySlash Off

    # Enable the RewriteEngine
    RewriteEngine on

    RewriteRule ^api/ index.php [NC,L]
    # These conditions ensure that the file does not exist and that the current
    # request URI is not the index.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !index

    # Redirect remaining requests to the index.html file
    RewriteRule (.*) index.html [NC,L]
</IfModule>
